<h1>To Do List</h1>
<form action="/items" method="post">
  <label for="newcity">Item description:</label>
  <input id="newcity" name="newcity" type="text">
  <button type="submit">Submit</button>
</form>
